<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="com.utility.ITestListnerClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    
    
     <!--<class name="com.testcases.LoginTestCase"/>--> 
      <!--<class name="com.testcases.SearchTestCase"/>--> 
      <!--<class name="com.testcases.DashboardTestCase"/>-->
      <!--<class name="com.testcases.PaymentTestCase"></class>-->
      <class name="com.testcases.Navigatetonewtab"></class>
      
      
      
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
